body {
  background: #f2f2f2;
  font-family: Arial;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #2b7cff;
  color: white;
  border: none;
  border-radius: 5px;
}
